<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron bg-transparent">
        <h1>Welcome to HB Events and Services</h1>
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <section class="latest-events-carousel">
    <event-latest></event-latest>
  </section>
  <!-- Carousel -->

  <section class="upcoming-events">
    <event-upcoming></event-upcoming>
  </section>

  <section class="suggested-events">
    <event-suggested></event-suggested>
  </section>

  <section></section>

  <!-- <div class="panel panel-primary">
    <div class="panel-heading">Site Under Construction</div>
    <div class="panel-body">
      <h3>Update coming up soon...</h3>
    </div>
  </div> -->
</div>
