// defining variables
/*#region: Global */
// colours
$black: #000000;
$white: #ffffff;
$overlay-background: rgba(0, 0, 0, 0.95);
$disabled-border: 1px solid #999999;
$disabled-background: #808080;
$disabled-color: #c0c0c0;

$font-weight-MuseoSans: 500;

$font-normal: normal;
$font-italic: italic;
$font-bold: bold;
$body-height: 1920px;
$body-width: 1080px;

// paths
$base-font-url: '../assets/fonts/';

/*#region: Metrics*/
// percentages
$half-percent: 50%;
$full-percent: 100%;

/*#endregion*/

/*#endregion*/

/*#region: Tabilo Specific */
// colours
$TabiloGreen: #50af32;
$TabiloDarkGreen: #00634e;
$TabiloDarkerGreen: #006549;
$TabiloLightBlack: #222222;
$TabiloMediumGreen: #007d5a;
$TabiloBeige: #b49b82;
$TabiloRed: #f04b00;
$TabiloGreyishBrown: #494949;
$TabiloLipstickRed: #c00b31;
$TabiloBeige20: rgba(180, 155, 130, 0.2);
$TabiloGreyishBrown: #494949;
/*#endregion*/
