@import "./variables";
@import "./mixins";

/* #region Declaration of Tabilo font families  */
@include font_face("MuseoSans", "opentype", "normal", 300);
@include font_face("MuseoSans", "opentype", "normal", 500);
@include font_face("MuseoSans", "opentype", "normal", 900);
@include font_face("MuseoSansCond", "opentype", "normal", 700);
@include font_face("MuseoSlab", "opentype", "normal", 900);
/*#endregion*/

/*#region Declaration of global styles. This ensures the pages follow a convention */
// *,
// *:before,
// *:after {
//   margin: 0;
//   padding: 0;
//   outline: none;
//   box-sizing: border-box;
//   font-family: "MuseoSans", "Arial", "Helvetica", sans-serif;
// }

body,
html {
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  height: 100%;

  //   -webkit-touch-callout: none; /* iOS Safari */
  //   -webkit-user-select: none; /* Safari */
  //   -khtml-user-select: none; /* Konqueror HTML */
  //   -moz-user-select: none; /* Old versions of Firefox */
  //   -ms-user-select: none; /* Internet Explorer/Edge */
  //   user-select: none;
  /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

body {
  margin: 0;
}

p,
button {
  font-family: "MuseoSans";
}
button {
  font-weight: $font-weight-MuseoSans;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSlab";
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
}
.h7 {
  font-family: MuseoSlab;
  //   font-size: 65px;
  font-weight: 900;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -1px;
}

/*#endregion*/

.mat-drawer-inner-container {
  background: #ff4081;
}

/*#endregion*/
