<section>
    <swiper
  [slidesPerView]="1"
  [spaceBetween]="0"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [autoplay]="true"
>
  <ng-template swiperSlide class="top-carousel">
    <img src="assets/3.png" style="width: 90%; height:400px; margin-left: 60px;">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/8.png" style="width: 90%; height:400px; margin-left: 60px;">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/5.png" style="width: 90%; height:400px; margin-left: 60px;">
  </ng-template>
</swiper>
</section>