@import "../../../sass/variables";
.shopping-cart {
  width: 100%;
  height: 100%;
}

.cart-container {
  overflow-y: auto;
  padding: 0 2rem;
  max-height: 75rem;
}

.cart-item {
  position: relative;
  margin-top: 5rem;
}

.cart-item__header-quantity {
  color: $TabiloGreen;
  margin-right: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-self: flex-end;
}

.cart-item__price {
  color: $TabiloGreen;
  margin-right: 0.5rem;
}

.cart-item__header-price {
  margin-right: 0.5rem;
  display: flex;
  position: absolute;
  right: 2rem;
}

.cart-item__header-value {
  // font-size: 3.5rem;
  color: $TabiloGreen;

  font-family: MuseoSans;
  font-size: 80px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -5px;
}

.cart-item__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.cart-item__footer-btn-container-left {
  margin-left: 0.75rem;
  display: flex;
  width: 33%;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-item__footer-btn-container-right {
  margin: 0;
  display: flex;
  width: 33%;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-item__footer-btn,
.cart-item__redeem-btn {
  border: none;
  color: $white;
  background-color: $TabiloGreen;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  display: flex;
  letter-spacing: 2px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.cart-item__redeem-btn {
  font-size: 1rem;
}

.cart-item__incdec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  // width: 34%;
}

.cart-item__incdec-left,
.cart-item__incdec-right,
.cart-item__incdec-both {
  border: none;
  background: transparent;
  border-radius: 50%;
  display: flex;
  outline: none;
}

.cart-item__incdec-left {
  outline: none;
}

.cart-item__incdec-both img {
  display: block;
}

.cart-item__input {
  width: 3rem;
  height: auto;
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  background-color: transparent;
  border: none;
  color: $white;
  display: flex;
  letter-spacing: -0.33px;
  font-family: MuseoSans;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
}

.cart-item__content-container {
  display: flex;
  flex-direction: row;
}

.cart-item__column {
  width: 100%;
}

.cart-item__content {
  font-size: 1.25rem;
  color: $white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cart-item-price {
  color: $TabiloGreen;
  font-family: MuseoSans;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: -0.2px;
  text-align: center;
}

.cart-item__content-text {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  font-family: MuseoSans;
  font-size: 2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.33px;
}

.cart-page__before-total {
  margin: 1rem 0;
  padding-left: 0.5rem;
}

.cart-page__before-total-content {
  color: $white;
  font-size: 1.5rem;
  line-height: 1.5;
}

.cart-total {
  color: $white;
  text-align: right;
  font-size: 1.5rem;
}

.cart-sanifair-header {
  margin: 1.5rem 2rem 0 0;
}

.cart-footer__footer-btn {
  color: $white;
  background-color: $TabiloGreen;
  border: none;
  outline: none;
  line-height: normal;
  font-stretch: normal;
  padding: 1.5rem 4.5rem;
  text-transform: uppercase;
  letter-spacing: 5.6px;
  font-size: 25px;
  text-align: center;
  margin-right: 0.5rem;
}

.cart-total-amount {
  color: $TabiloGreen;
  margin-top: 0.5rem;
  border-top: 2px solid $white;
  padding: 1rem 0 1rem 1rem;

  font-family: MuseoSans;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.cart-total-amount-before-text {
  padding-top: 1.5rem;
  padding-right: 0.5rem;
  color: $white;

  font-family: MuseoSans;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  justify-content: flex-end;
}

.cart-bottom-page-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.cart-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-right: 2rem;
}

.cart-down-scroll {
  padding: 2rem 0 2rem 0;
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 3rem;
  z-index: 100;
}

.cart-up-scroll {
  padding: 2rem 0 2rem 0;
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 7rem;
  z-index: 100;
}

.cart-item_inner {
  // max-height: 65rem; // used to show or hide the blinking down arrow
  max-height: 45rem; // height reduced when showing sanifair component
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 1rem;
}

.cart-item_inner::-webkit-scrollbar {
  width: 0.2em;
}

.cart-item_inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

// .cart-item_inner::-webkit-scrollbar-thumb {
//     background-color: red;
//     outline: 1px solid red;
// }

.Path-3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scroll-btn {
  width: 50px;
  height: 50px;
  left: calc(45% - 25px);
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  z-index: 100;
}

.sanifair-img {
  height: 8rem;
}

.cart__back-btn {
  display: flex;
  background-color: transparent;
  border: transparent;
  color: $white;
  margin: 0 0 2rem 0;
}

.cart__back-btn img {
  display: block;
  width: 100%;
}

.dottedline {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

hr {
  border: none;
  border-top: 0.25rem dotted $TabiloMediumGreen;
  color: inherit;
  background-color: inherit;
  height: 0.25rem;
  width: 100%;
}

button,
a {
  cursor: pointer;
}

.row-container {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  padding: 1rem 2.5rem 1rem 2rem;
  position: fixed;
  left: 0;
  bottom: 25rem;
}

.remove-related-product-btn {
  border: none;
  outline: none;
  background: transparent;
  height: auto;
  width: auto;
}

.supsub {
  position: absolute;
  font-size: 1.7rem;
  min-width: 1.5rem;
}
.subscript {
  display: flex;
  position: relative;
  // bottom: -0.5rem;
  justify-content: flex-end;

  font-family: MuseoSans;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 1rem;
  right: 0.5rem;
}
.superscript {
  display: flex;
  position: relative;
  top: 0.4rem;
  justify-content: flex-end;

  font-family: MuseoSans;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 0.5rem;
  right: 0.5rem;
}

.cart-item__header {
  display: flex;
  font-size: 3rem;
  color: $white;
  position: relative;
  padding-left: 0.75rem;
  line-height: 1.04;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.cart-item__header-text {
  // font-size: 3rem;
  color: $white;
  // font-weight: bolder;
  // line-height: 1.04;
  margin-bottom: -5px;
  width: 80%;
}

.sub-total {
  font-family: MuseoSans;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $white;
}

.cart-total__content {
  // overflow-y: auto;
  padding-right: 1rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-total__footer {
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.cart-total-amount-before-text__sanifair {
  // padding-top: 1.5rem;
  padding-right: 0.5rem;
  color: $white;

  font-family: MuseoSans;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.sanifair-sub-total {
  width: 100%;
  display: flex;
}

.cart-bottom-page-right-buttons {
  width: calc(100% - 2.5rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.show-arrow {
  opacity: 1;
}

.hide-arrow {
  opacity: 0;
}

.cart-fade-out-btn {
  opacity: 0.3;
}

.cart__bottom-black-fade {
  display: flex;
  width: 100%;
  position: absolute;
  top: 50rem;
  height: 10rem;
  background: linear-gradient(#141111, #242323, #000000);
  opacity: 0.6;
}

.cart-item__subtitle {
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
}

.cart-item__subtitle-text {
  opacity: 0.95;
  font-family: MuseoSans;
  font-size: calc(2rem - 1px);
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.33px;
  color: $white;
}

/*
Upward point arrow
*/
.cart__up-arrow,
.cart__up-arrow:before {
  position: absolute;
  left: 50%;
}
.cart__up-arrow {
  content: "";
  z-index: 100;
  -webkit-transform: rotate(45deg);
}

.cart__up-arrow:before {
  content: "";
  width: 3.5rem;
  height: 3.5rem;
  top: 20%;
  margin: -10px 0 0 -10px;
  border-left: 0.7rem #fff solid;
  border-top: 0.7rem #fff solid;
  border-right: none;
  border-bottom: none;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: cart__up-arrow;
}

@keyframes cart__up-arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

/*
Downward pointing arrow
*/
.cart__down-arrow,
.cart__down-arrow:before {
  position: absolute;
  left: 50%;
}

.cart__down-arrow {
  content: "";
  z-index: 100;
  -webkit-transform: rotate(45deg);
}

.userEventBlock {
  pointer-events: none;
}

.userEventUnBlock {
  pointer-events: all;
}

.cart__down-arrow:before {
  content: "";
  width: 3.5rem;
  height: 3.5rem;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 0.7rem #fff solid;
  border-bottom: 0.7rem #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: cart__down-arrow;
}

@keyframes cart__down-arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
