<mat-card>
  <mat-card-header>
    <mat-cart-title>Signup</mat-cart-title>
    <mat-card-subtitle>
      <p>Signup with the following details</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input
          matInput
          type="text"
          formControlName="surname"
          placeholder="enter your surname here"
          required
          (keyup)="handleUsernameSuggestion()"
        />
        <mat-error> </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstname"
          required
          placeholder="enter your first name"
          (keyup)="handleUsernameSuggestion()"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Other Names (provide if any)</mat-label>
        <input
          matInput
          formControlName="othernames"
          type="text"
          placeholder="enter any other names"
          (keyup)="handleUsernameSuggestion()"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter email here"
          required
        />
        <!-- <mat-error *ngIf="email.touched && email.invalid">
          <mat-error *ngIf="email.errors.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="email.errors.email">
            Email must have a valid format
          </mat-error>
          <mat-error *ngIf="email.errors.minlength">
            Email must be
            {{ email.errors.minlength.requiredLength }} characters or more
          </mat-error>
        </mat-error> -->
        <mat-error
          *ngIf="email.hasError('email') && !email.hasError('required')"
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <label>
        <input type="radio" value="male" formControlName="gender" />Male
      </label>
      <label>
        <input type="radio" value="female" formControlName="gender" /> Female
      </label>
      <!-- <mat-radio-button formControlName="gender">Malee</mat-radio-button>
      <mat-radio-button formControlName="gender">Femalee</mat-radio-button> -->

      <mat-form-field>
        <input
          matInput
          type="tel"
          formControlName="mobilenumber"
          placeholder="Enter your mobile number here"
          required
        />
        <mat-error> </mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Max {{ maxAddressCharacters }} characters">
        <mat-label>Address </mat-label>
        <textarea
          matInput
          #address
          formControlName="address"
          placeholder="Address Line 1 <br /> Address Line 2"
          maxlength="{{ maxAddressCharacters }}"
          rows="5"
          required
        ></textarea>

        <mat-hint align="end"
          >{{ address.value?.length || 0 }} /
          {{ maxAddressCharacters }}</mat-hint
        >
      </mat-form-field>

      <!-- Account Details Begin -->
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          placeholder="enter username here"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          required
          minlength="8"
          maxlength="64"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmpassword"
          required
          minlength="8"
          maxlength="64"
        />
      </mat-form-field>

      <!-- Account Details End -->
      <button
        mat-raised-button
        color="accent"
        type="submit"
        class="btn-block"
        [disabled]="!this.signUpForm.valid"
      >
        Signup
      </button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <p>Already have an account? <a routerLink="/login"> Log in here</a></p>
  </mat-card-footer>
</mat-card>
